@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Edit</h2>

<h4>Edit this stylist: @Html.DisplayFor(model => model.Name)</h4>
<p>@Html.ActionLink("Add Client", "Create", "Clients")</p>

@using (Html.BeginForm())
{
  <p>@Html.HiddenFor(model => model.StylistId)</p>

  <p>@Html.LabelFor(model => model.Name)</p>
  <p>@Html.EditorFor(model => model.Name)</p>

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>