@{
  Layout = "_Layout";
}

<h1>Welcome to the Hair Salon</h1>

@using HairSalon.Models;
@model List<HairSalon.Models.Client>;

<p>@Html.ActionLink("Back to list", "Index")</p> 

<p>@Html.ActionLink("Search Clients", "ShowSearch", "Clients")</p>
<p>@Html.ActionLink("See all clients", "Index", "Clients")</p>
<p>@Html.ActionLink("Add new client", "Create", "Clients")</p>
<p>@Html.ActionLink("See all stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("Add new stylist", "Create", "Stylists")</p>